strong
  font-weight: 400
  +bold

small
  font-size: inherit

em, i
  font-style: normal

h1, h2, h3, h4, h5, h6
  font-weight: 400

.title
  color: $white
  line-height: .9
  +css-lock(42, 74, 320, 1199, font-size)
  position: relative  
  strong
    // display: block    
  +rh(900)
    font-size: 50px
  +rh(667)
    font-size: 42px
  &.is-animate
    +mdmin
      strong
        animation: shadow 1s 3

  &--img
    position: relative
    display: inline-block
    img
      position: absolute
      +css-lock(-200, -325, 320, 1199, right)
      top: 50%
      transform: translate(0, -50%)
      max-width: none
      +css-lock(300, 500, 320, 1199, width)
      pointer-events: none

.subttl
  font-size: $fz-md
  line-height: 1.2
  +css-lock(16, 21, 320, 1199, font-size)
  +rh(667)
    font-size: 16px
  &--lg
    +css-lock(18, 30, 320, 1199, font-size)
    color: $gray-lightest
    text-transform: uppercase

.h1, h1

.h2, h2

.h3, h3

.h4, h4
  font-size: $fz-lg
  color: $white
  +bold
  line-height: 1.2
  em
    color: $accent
    display: block
  +sm
    font-size: $fz-md
  +rh(667)
    font-size: $fz

.h5, h5

.h6, h6

.text
  font-size: 17px
  color: $gray-light
  +sm
      font-size: $fz
  +rh(667)
    font-size: $fz
