<!-- begin section -->
<section class="fullpage-section js-scrollbar-mob section section--first">
  {# <div class="section__word text-stroke flashIn">optimum led</div> #}

  <div class="section__block">
    <div class="container">
      <h1 class="title title--no-anim js-title"><strong>OPTIMUM</strong> <span class="purple-text glowing" data-text="LED">LED</span></h1>
      <div class="subttl--lg">архітектура світла</div>
    </div>
  </div>

  <div class="section__scroll-down">
    {{ mixins.scrollDown() }}
  </div>

  <div class="section-bg js-lazy" data-background-image="img/about/img-1.jpg"></div>
</section>
<!-- end section -->