{%set
features = [
  {
    mod: 'is-xs-none js-toggle-block',
    title: mixins.icon('sketch') + '<h4 class="h4">Робимо фокус
на архітектурі та дизайні</h4>',
    text: 'Розробляємо дизайн світла, орієнтуючись
на архітектуру. Це допомагає підкреслити
елементи будівель і дизайн приміщень,
застосувати світло в створенні декоративних
елементів, підтримати фірмовий стиль
компаній в комерційних приміщеннях.'
  },
  {
    mod: 'is-xs-none js-toggle-block',
    title: mixins.icon('work-station') + '<h4 class="h4">Формуємо комфортний
простір для життя</h4>',
    text: 'Ми створюємо світ, який покращує
умови для роботи і відпочинку: враховуємо
показники світлового забруднення,
емоційну реакцію людини
на світло і колір, функціональне
призначення приміщення і сценарії
використання освітлення.'
  }
]
%}

<!-- begin section -->
<section class="section fullpage-section js-scrollbar-mob">
  <!-- begin features -->
  <div class="features">
    <div class="features__title">
      <h2 class="title js-title">Які завдання <strong>ми вирішуємо</strong></h2>
    </div>

    <div class="features__features">
      <!-- begin feature -->
      <div class="feature{% if i.mod %} {{ i.mod }}{% endif %}">
        <div class="feature__inner">
          <div class="feature__title feature__title-has-icon">
            {{ mixins.icon('value') }}
            <h4 class="h4">Підвищуємо вартість
            нерухомості до 25%</h4>
          </div>

          <div class="feature__text text">Продумана світлова композиція
            здатна підвищити привабливість
            і статусність будівлі, а отже відчутно
          підняти вартість нерухомості.</div>

          <a href="#" class="toggle-btn is-xs-min js-toggle-btn">Подробнее</a>
        </div>        
      </div>
      <!-- end feature -->
      

      {% for i in features %}
      <!-- begin feature -->
      <div class="feature{% if i.mod %} {{ i.mod }}{% endif %}">
        <div class="feature__inner">
          <div class="feature__title feature__title-has-icon">{{ i.title | safe }}</div>

          <div class="feature__text text">{{ i.text | safe }}</div>
        </div>        
      </div>
      <!-- end feature -->
      {% endfor %}
    </div>
    
    
  </div>
  <!-- end features -->

  <div class="features-bg section-bg">
    <div class="features-bg__col js-lazy" data-background-image="img/about/img-4.jpg"></div>
    <div class="features-bg__col"></div>
    <div class="features-bg__col"></div>
  </div>

  <img data-src="img/about/img-3.png" alt="" class="js-lazy section-bg features-img features-img--bottom">

  
</section>
<!-- end section -->