<!-- begin section -->
<section class="section js-lazy" data-background-image="img/about/img-2.jpg">
  <div class="section__block">
    <div class="container">
      <div class="section__descr">
        <!-- begin descr -->
        <div class="descr">
          <div class="descr__title">
            <h2 class="title">Ми створюємо <strong>дизайн світла</strong></h2>
          </div>

          <div class="descr__content">
           <!-- begin descr-block -->
           <div class="descr-block">
             <div class="descr-block__title"><span class="descr-block__title-icon"></span><h4 class="h4">Концепція</h4></div>

             <div class="descr-block__text text">Наше завдання - використати природне і штучне
освітлення, щоб створити комфортний простір для життя людей. Ми розробляємо дизайн світла. Створюємо зовнішнє і внутрішнє освітлення будівель: продумуємо концепцію, прораховуємо проекти, розробляємо, виробляємо і монтуємо освітлювальні прилади.</div>
           </div>
           <!-- end descr-block -->

           <!-- begin descr-block -->
           <div class="descr-block">
             <div class="descr-block__title"><span class="descr-block__title-icon"></span><h4 class="h4">Підхід</h4></div>

             <div class="descr-block__text text">Щоб створити світлову композицію, ми працюємо в зв'язці з архітекторами і дизайнерами будівель. Це допомагає нам врахувати особливості будівель і підкреслити задумки його авторів. У своїх проектах ми використовуємо прилади власного виробництва Optimum LED і перевірене обладнання світових виробників: iGuzzini (Італія),  Phillips (Нідерланди), Schreder (Бельгія), Simes (Італія).</div>
           </div>
           <!-- end descr-block -->
          </div>
        </div>
        <!-- end descr -->
      </div>
    </div>
  </div>
</section>
<!-- end section -->