{%set
features = [
  {
    title: 'Концепція
зовнішнього освітлення',
    subttl: '4-10 днів',
    text: 'Підкреслює архітектурні
елементи, заповнює прогалини,
змінює загальне сприйняття будови,
виділяє його на тлі інших будинків
або вбудовує в загальну композицію.'
  },
  {
    title: 'Концепція освітлення
групи будівель',
    subttl: '14-30 днів',
    text: 'Допомагає створити гармонійну
архітектурну композицію міста.'
  }
]
%}

<!-- begin section -->
<section class="section section--no-pad fullpage-section js-scrollbar-mob">
  <!-- begin features -->
  <div class="features">
    <div class="features__title">
      <h2 class="title js-title">Розробка <strong>концепції освітлення</strong></h2>
    </div>

    <div class="features__features">
      <!-- begin feature -->
      <div class="feature">
        <div class="feature__inner">
          <div class="feature__title"><h4 class="h4">Концепція внутрішнього освітлення</h4></div>

          <div class="feature__subttl text">до 12 днів</div>

          <div class="feature__text text">Задає атмосферу, підкреслює
            дизайн або змінює сприйняття
            простору: візуально розширює
            приміщення, піднімає стелі,
          створює ритм, ускладнює обсяг.</div>

          <a href="#" class="toggle-btn is-xs-min js-toggle-btn">Докладніше</a>
        </div>
      </div>
      <!-- end feature -->

      {% for i in features %}
      <!-- begin feature -->
      <div class="feature is-xs-none js-toggle-block">
        <div class="feature__inner">
          <div class="feature__title"><h4 class="h4">{{ i.title | safe }}</h4></div>

          <div class="feature__subttl text">{{ i.subttl | safe }}</div>

          <div class="feature__text text">{{ i.text | safe }}</div>
        </div>
      </div>
      <!-- end feature -->
      {% endfor %}
    </div>
  </div>
  <!-- end features -->

  <img data-src="img/about/img-4.png" alt="" class="js-lazy section-bg features-img features-img--top">

  <div class="features-bg section-bg features-bg--reverse">
    <div class="features-bg__col"></div>
    <div class="features-bg__col"></div>
    <div class="features-bg__col"></div>
  </div>
</section>
<!-- end section -->