---
title: services
page: services
sections: [
  {
    id: 'emotions',
    title: 'Світловий <strong>маркетинг</strong>',
    img: 'img-2.jpg',
    video: 'bg1',
    word: 'emotions',
    first: true
  },
  {
    id: 'architecture',
    title: 'Архітектурне освітлення',
    img: 'img-3.jpg',
    video: 'bg2',
    word: 'architecture',
    blocks: [
      {
        nmb: '01',
        text: 'Статичне або циклічне освітлення, орієнтоване
на архітектуру. Дозволяє підкреслити елементи
будівлі та побудувати визначене враження
від простору: надати статусності та величності,
полегшити конструкцію або створити
святкову атмосферу.'
      },
      {
        nmb: '02',
        text: 'За цим методом ми проектуємо світлову
композицію спільно з архітекторами
та дизайнерами. Допомагаємо
допрацювати проект так, щоб світло
працювало максимально ефективно.'
      }
    ]
  },
  {
    id: 'smart',
    title: 'Smart <strong>освітлення</strong>',
    img: 'img-4.jpg',
    video: 'bg3',
    word: 'smart',
    blocks: [
      {
        nmb: '01',
        text: 'Світлова композиція, прив’язана до дій, рухів
та присутності людей. Доповнює екстер’єр
та інтер’єр будівлі оригінальними динамічними
елементами. Таке освітлення привертає увагу
та надовго запам’ятовується.'
      },
      {
        nmb: '02',
        text: 'Smart-освітлення будується на запрограмованій
системі, яка отримує інформацію з камер
спостереження, датчиків руху та присутності,
розташованих у приміщенні. Система миттєво
скеровує сигнал на прилади освітлення. Таким
чином ми створюємо ефект живої реакції
на присутніх.'
      }
    ]
  },
  {
    id: 'sculpture',
    title: 'Світлова скульптура',
    img: 'img-5.jpg',
    video: 'bg4',
    word: 'sculpture',
    blocks: [
      {
        nmb: '01',
        text: 'Архітектурні та декоративні просторові об’єкти,
що разом із системою світлових приладів
створюють статичну або динамічну композицію.
Це вражаючий декоративний елемент в дизайні
та архітектурі, що працює на імідж та надає
будівлі індивідуальності.'
      },
      {
        nmb: '02',
        text: 'Може використовуватися, як носій нативної
реклами бренду: за допомогою неявних образів
зображати логотип, айдентику або безпосередньо
продукт компанії.'
      }
    ]
  },
  {
    id: 'adaptive',
    title: 'Адаптивне освітлення',
    img: 'img-6.jpg',
    video: 'bg5',
    word: 'adaptive',
    blocks: [
      {
        nmb: '01',
        text: 'Динамічне світло, що змінюється в залежності
від зовнішніх умов: природнього світла, вітру,
вологості та пори року. Дозволяє покращити
емоційний стан та працездатність людини,
полегшує вплив від зміни сезонів і погоди, може
бути самостійним декоративним елементом.'
      },
      {
        nmb: '02',
        text: 'Як і smart, адаптивним освітленням керує
запрограмована система, яка отримує
інформацію з датчиків. Завдяки цьому вона
може імітувати натуральне денне світло та рух
об’єктів за вікном, відображати зміну погоди
та створювати відчуття близькості до природи.'
      }
    ]
  },
  {
    id: 'hugge',
    last: true,
    title: 'Світлове хюгге',
    img: 'img-7.jpg',
    video: 'bg6',
    word: 'hugge',
    blocks: [
      {
        nmb: '01',
        text: 'Світло будує емоцію. За допомогою продуманої
світлової композиції звичайну ландшафтну
композицію можна перетворити на місце,
яке не захочеться полишати.'
      },
      {
        nmb: '02',
        text: 'За допомогою світло-архітектурних елементів
ми підкреслюємо рослини, ландшафт
та створюємо неповторний затишний простір.'
      }
    ]
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_header.html" %}
  
  {% include "partials/_services.html" %}

  {# {% include "partials/_footer.html" %} #}

  
{% endblock %}


