<!-- begin section -->
<section class="section section--single">
  <div class="section__block">
    <div class="container">
      <!-- begin contacts -->
      <div class="contacts">
        <div class="contacts__title">
          <h1 class="title js-title">Додамо світла <strong>вашому проекту?</strong></h1>
        </div>

        <div class="contacts__subttl">Напишіть нам або зателефонуйте, якщо у вас з’явилися питання!</div>

        <div class="contacts__contacts">
          <div class="contacts__contact contact">
            <div class="contact__title">Email:</div>

            <a href="email:optimum-@ukr.net" class="contact__link">optimum-@ukr.net</a>
          </div>

          <div class="contacts__contact contact">
            <div class="contact__title">Телефон:</div>

            <a href="tel:+380970178321" class="contact__link">+38 097 017 83 21</a>
          </div>
        </div>
      </div>
      <!-- end contacts -->
    </div>
  </div>

<div class="section__word text-stroke flashIn">contacts</div>
  <div class="section-bg js-lazy" data-background-image="img/bg-contacts.jpg"></div>
</section>
<!-- end section -->