<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">
        {% set colorLogo = true %}
        {% include "partials/_logo.html" %}
      </div>

      <div class="footer__copy">Copyright 2019. Все права защищены</div>

      <div class="footer__btn">
        <a class="scroll-top" href="#">
          <span class="scroll-top__title">Наверх</span>
          <span class="scroll-top__arrow"></span>
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->