{% if page === 'services' %}
{% set servicesHref = '#' %}
{% set 
  servicesNav = [
    { modLink: 'js-fullpage-anchor', link: 'Світловий маркетинг', attributes: { 'data-index': '1' } },
    { modLink: 'js-fullpage-anchor', link: 'Архітектурне освітлення', attributes: { 'data-index': '2' } },
    { modLink: 'js-fullpage-anchor', link: 'Smart освітлення', attributes: { 'data-index': '3' } },
    { modLink: 'js-fullpage-anchor', link: 'Адаптивне освітлення', attributes: { 'data-index': '4' } },
    { modLink: 'js-fullpage-anchor', link: 'Світлова скульптура', attributes: { 'data-index': '5' } },
    { modLink: 'js-fullpage-anchor', link: 'Світлове хюгге', attributes: { 'data-index': '6' } }
  ]
 %}
{% else %}
{% set servicesHref = 'services.html' %}
{% set 
  servicesNav = [
    { href: 'services.html#emotions', link: 'Світловий маркетинг' },
    { href: 'services.html#architecture', link: 'Архітектурне освітлення' },
    { href: 'services.html#smart', link: 'Smart освітлення' },
    { href: 'services.html#adaptive', link: 'Адаптивне освітлення' },
    { href: 'services.html#sculpture', link: 'Світлова скульптура' },
    { href: 'services.html#hugge', link: 'Світлове хюгге'  }
  ]
 %}
{% endif %}

<!-- begin header -->
<header class="header">
  <div class="header__logo">
    {% include "partials/_logo.html" %}
  </div>

  <div class="header__nav">
    {{ mixins.list(
      name = 'nav',
      modifications = { wrap: '', item: '', link: '' },
      list = [
        { link: 'Про нас', modItem: '', modLink: '' },
        {
          link: 'Послуги',
          href: servicesHref,
          item: mixins.list(
            name = 'nav',
            modifications = { wrap: 'nav--dropdown', item: '', link: '' },
            list = servicesNav
          ),
          modItem: 'has-submenu',
          modLink: ''
        },
        { link: 'Контакти', modItem: '', modLink: '' }
      ]
    ) }}
  </div>

  <div class="header__burger">
    <a href="#" class="burger js-burger"><span></span></a>
  </div>
</header>
<!-- end header -->

<!-- begin menu -->
<div class="menu js-menu">
  <a href="#" class="menu__close js-menu-close"></a>
  <div class="menu__inner">
    <div class="menu__block js-lazy" data-background-image="img/bg-menu.jpg">
      <div class="menu__logo">
        {% include "partials/_logo.html" %}
      </div>

      <div class="menu__nav">
        {{ mixins.list(
          name = 'nav',
          modifications = { wrap: 'nav--menu', item: '', link: '' },
          list = [
            { link: 'Головна', item: '<span>01</span>' },
            { link: 'Про нас', item: '<span>02</span>' },
            { link: 'Послуги', item: '<span>03</span>' },
            { link: 'Контакти', item: '<span>04</span>' }
          ]
        ) }}
      </div>
    </div>
  </div>
</div>
<!-- end menu -->
