.contacts
  max-width: 585px
  &__title
    margin-bottom: 35px
  &__subttl
    color: $gray-dark
    margin-bottom: 35px
  &__contacts
    +flex()
  &__contact
    width: 50%

.contact
  &__title
    color: $gray-dark
  &__link
    color: $white
    +hover
      text-decoration: underline