.fullpage
  height: 100vh
  position: relative
  overflow: hidden
  &__wrap
    position: relative
  &__slide
    +coverdiv
    // visibility: hidden
    z-index: 0
    opacity: 0
    padding-top: $header-height
    overflow: hidden
    +md
      padding-top: $header-height-md
    +sm
      padding-top: $header-height-sm
    &.is-active
      visibility: visible
      z-index: 1
      opacity: 1

.fullpage-section
  opacity: 0
  z-index: 0
  +coverdiv
  &.section
    position: absolute
  &.is-active
    z-index: 1
    opacity: 1
  .footer
    position: absolute
    left: 0
    right: 0
    bottom: 0

.fullpage-pagination
  position: fixed
  z-index: 15
  left: 0
  top: 50%
  transform: translate(0, -50%)
