.section-bg
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: -1
  +cover
  opacity: 0
  overflow: hidden
  video
    +coverdiv
    object-fit: cover
    &.is-desctop
      +sm
        display: none
  &--mob-left
    +sm
      background-position: 65% 50%
  &--mob-left-lg
    +sm
      background-position: 85% 50%

// [data-page="services"]
//   .section-bg
//     +sm
//       background-position: 65% 50%

.section
  +cover
  +flex(center, normal, column)
  height: 100vh
  overflow: hidden
  position: relative
  background-color: $black-darkest
  padding: $header-height 0
  +md
    padding: $header-height-md 0
  +sm
    padding: $header-height-sm 0
  +rh(900)
    padding: $header-height-sm-vert 0
  
  &:nth-child(even)
    background-color: $black-darken
  &:nth-child(odd)
    background-color: $black-light
  &.ps--active-y
    justify-content: flex-start
  &.is-overflowing
    justify-content: flex-start
  &__block
    width: 100%
    flex-grow: 1
    +flex(center, normal, column)
    opacity: 0
    .container
      width: 100%
  &__word
    position: absolute
    white-space: nowrap
    top: 20%
    left: -20%
  &__word-bottom
    @extend .section__word
    left: 30%
    top: auto
    bottom: 10%
    +xl
      // bottom: $header-height-sm-vert
      bottom: 5%
  &__word-bottom-fu
    left: 40%
  &__scroll-down
    position: absolute
    bottom: 35px
    left: 50%
    transform: translate(-50%, 0)
  &__float-img
    position: absolute
    top: 50%
    right: 0
    z-index: 2
    pointer-events: none
    +r(1799)
      display: none
  &__right
    width: 50%
    margin-left: 50%
    +md
      width: 60%
      margin-left: 40%
    +sm
      width: 90%
      margin-left: 10%
    +xs
      width: auto
      margin-left: 0
  &__center
    max-width: 750px
    margin-left: auto
    margin-right: auto


  &--center
    text-align: center
    justify-content: center
  &--no-pad
    padding: 0 !important
    +sm
      padding: $header-height-sm 0 !important
  &--has-nav
    .section__block
      +r(1799)
        padding-left: 150px
      +md
        padding-left: 100px
      +sm
        padding-left: 50px
      +xs
        padding-left: 0
  &--single
    .section-bg
      z-index: 0
      // opacity: 1
    .section__block
      z-index: 1
      position: relative
      // opacity: 1
    .section__word
      z-index: 1
      left: 30%
      top: auto
      bottom: 5%

.section-block
  &__title
    margin-bottom: 60px
    +lg
      margin-bottom: 40px
    +md
      margin-bottom: 30px
    +sm
      margin-bottom: 20px !important
    +xs
      margin-bottom: 10px !important
    +rh(900)
      margin-bottom: 30px
    +rh(667)
      margin-bottom: 10px
  &__descr-text
    position: relative
    border-left: 1px solid currentColor
    padding: 15px
    margin-bottom: 50px
    max-width: 380px
    +lg
      margin-bottom: 40px
    +md
      margin-bottom: 30px
    +sm
      margin-bottom: 20px
    +rh(900)
      margin-bottom: 20px
    +rh(667)
      margin-bottom: 0
  &__descr-list
    margin-bottom: 50px
    +lg
      margin-bottom: 40px
    +md
      margin-bottom: 30px
    +sm
      margin-bottom: 20px
    +rh(900)
      margin-bottom: 25px
    +rh(667)
      margin-bottom: 0
  &__blocks
    +flex(flex-start, normal, row, wrap)
    .block
      +notlast
        margin-right: 10%

.section-list
  @extend .text
  li
    position: relative
    padding-left: 20px
    +notlast
      margin-bottom: 35px
      +lg
        margin-bottom: 25px
      +md
        margin-bottom: 15px
      +sm
        margin-bottom: 10px
      +rh(667)
        margin-bottom: 5px
  &__icon
    display: inline-block
    border: 1px solid $accent
    +inline-flex(center, center)
    position: absolute
    left: 0
    top: .3em
    height: 14px
    width: 14px
    border-radius: 50%
    +before
      background-color: $accent
      border-radius: 50%
      height: 6px
      width: 6px

